.module-info-index {
    font-size: 15px;
    font-weight: bold;
    padding-top: 8px;
}

.place-autocomplete-element-row .place-autocomplete-element-text-div .place-autocomplete-element-place-name {
    font-size: 15px !important;
    /* font-family: Times New Roman !important; */
}

.header-link-btn {
    background: lightgrey;
    padding: 3px 10px 3px 10px;
    border-radius: 3px;
    position: relative;
    top: 13px;
    margin-right: 10px;
    cursor: pointer;
}