.module-info-index {
    font-size: 15px;
    font-weight: bold;
    padding-top: 8px;
}

.header-link-btn {
    background: lightgrey;
    padding: 3px 10px 3px 10px;
    border-radius: 3px;
    position: relative;
    top: 13px;
    margin-right: 10px;
    cursor: pointer;
}